<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="{{ url_for('static', filename='accountstyle.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> THE_BOOKS_PARK:Account</title>
  </head>
  <body>
    <div class="back">
      <div class="sticky">
        <ul>
          <form action="{{ url_for('logout') }}" method="post" style="margin:0px;">
            <li style="float:right;"><button type="submit" style=" border: none;text-decoration: none;  background-color: #111;color:#fff;">Logout</button></li>
          </form>
          <li style="float:right;color:#fff;margin:7px 15px 7px 7px;">Hi! {{us}}</li>
        </ul>
      </div>

  <h3>SEARCH BOOK</h3>
  <div class="abc">
    <form action="{{ url_for('search') }}" method="post">
      <center><input type="text" name="isbn" placeholder="Search ISBN"></center>
      <center><input type="text" name="title" placeholder="Search Book Name"></center>
      <center><input type="text" name="author" placeholder="Search Author"></center>
      <center><button type="submit" style="border-radius:15px; border: none;">SEARCH</button></center>
    </form>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
